:root {
  --backgColor: #ebeef5;
  --blueColor: #02577a;
  --whiteColor: #f7f6ff;
  --lineColor: #c4c4c4;
  --purelyWhite: #ffffff;
  --mainFont: 'Montserrat', sans-serif;
}
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: var(--mainFont);
  background-color: var(--backgColor);
}
