img.home {
  margin: 34px 0 0 37px;
}
img.calendar {
  width: 25px;
  height: 25px;
  margin: 16px 0 0 32px;
}

.flex-cont {
  display: flex;
  gap: 60px;
  margin: 40px 0 60px 150px;
  width: calc(100% - 150px);
  min-width: 250px;
}
.add-tasks {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 45%;
}
.task {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-height: 155px;
  background: var(--purelyWhite);
  border-radius: 25px;
  padding: 35px 35px 15px 35px;
}
.task > h6 {
  font-weight: 700;
}
.task > p {
  font-weight: 500;
  line-height: 35px;
  color: var(--lineColor);
}
.task .line {
  width: 188px;
  height: 20px;
  background: #fc0000;
  border-radius: 25px;
  margin: 10px 0;
}
.task .yellow {
  background-color: yellow;
}
.task .green {
  background-color: greenyellow;
}
.task .dots {
  align-self: flex-end;
  font-size: 30px;
  line-height: 15px;
  font-weight: 700;
  cursor: pointer;
}
button.button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid var(--blueColor);
  background: var(--blueColor);
  font-size: 48px;
  color: #ffffff;
  cursor: pointer;
  align-self: flex-start;
  transition: all 0.3s ease-out;
}
.button:hover {
  color: var(--blueColor);
  background-color: var(--backgColor);
}
.main-calendar {
  width: 45%;
  max-height: 550px;
  background: var(--purelyWhite);
  border-radius: 25px;
  padding: 30px 50px;
  overflow: hidden;
}
.main-calendar .lnr {
  display: inline-block;
  margin: 5px 20px 0;
  cursor: pointer;
}
.main-calendar h6 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}
.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 95%;
  height: 90%;
  font-size: 1.5rem;
  font-weight: 700;
}
.table td {
  line-height: 30px;
  padding: 12px 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.table tr:nth-child(1) {
  font-size: 0.7em;
  border-bottom: 1px solid var(--lineColor);
  color: var(--lineColor);
}
.table tr:nth-child(2),
.table tr:nth-child(7) {
  color: var(--lineColor);
}
.table .black {
  color: #000;
}
.table .currday {
  background-color: var(--blueColor);
  color: var(--purelyWhite);
  border-radius: 50%;
}
@media (max-width: 1200px) {
  .flex-cont {
    gap: 30px;
  }
  .main-calendar {
    padding: 20px 10px;
  }
  .table {
    width: 100%;
  }
  div.task {
    max-height: 160px;
  }
}

@media (max-width: 1150px) {
  .main-calendar {
    max-height: 450px;
  }
  div.task {
    max-height: 135px;
    padding: 15px 30px;
  }
  .task .line {
    height: 10px;
  }
  .table {
    font-size: 1em;
  }
  .table .td {
    line-height: 15px;
    padding: 0 50px;
  }
}
@media (max-width: 900px) {
  .main-calendar {
    padding: 20px;
    max-height: 420px;
  }
  .table {
    font-size: 0.8em;
    height: 80%;
  }
  .table td {
    line-height: 10px;
    padding: 0 50px;
  }
  .main-calendar h6,
  .main-calendar lnr {
    font-size: 1em;
  }
  .add-tasks {
    font-size: 0.8em;
  }
  div.task {
    max-height: 120px;
    padding: 15px 30px;
  }
  .task .line {
    height: 7px;
  }
}
@media (max-width: 800px) {
  .flex-cont {
    flex-direction: column reverse;
    gap: 25px;
    margin-left: 110px;
  }
  .add-tasks {
    width: 70%;
  }
  .main-calendar {
    width: 70%;
    max-height: 520px;
  }
  .table {
    font-size: 1em;
  }
  .table td {
    line-height: 50px;
    padding: 0 20px;
  }
  button.button {
    align-self: flex-end;
  }
}
@media (max-width: 700px) {
  .table td {
    line-height: 40px;
  }
}
@media (max-width: 600px) {
  .main-calendar {
    width: 100%;
    padding: 20px;
  }
  .add-tasks {
    width: 100%;
    font-size: 0.8rem;
    gap: 20px;
  }
  div.task {
    max-height: 130px;
    padding: 20px;
  }
}
.main-calendar h6,
.main-calendar lnr {
  font-size: 1.2em;
  margin: 0;
}
table {
  margin: 0;
}
.table tr:nth-child(1) {
  font-size: 0.6em;
}
.table td {
  font-size: 1.2em;
  line-height: 50px;
  padding: 0 12px;
}
@media (max-width: 500px) {
  .table td {
    font-size: 1em;
    line-height: 30px;
    padding: 0 3px;
  }
  .task .line {
    max-width: 100%;
  }
}
