.img {
  height: 432px;
  width: calc(100% - 97px);
  margin-top: 23px;
  margin-left: 97px;
  background: linear-gradient(
      0deg,
      rgba(237, 236, 243, 0.4),
      rgba(237, 236, 243, 0.4)
    ),
    url(../assets/workplace-results-professional-report-accounting-during\ 1.png)
      no-repeat center/cover;
}

.flex-cont {
  display: flex;
  flex-wrap: wrap;
}

.name {
  width: 341px;
  height: 80px;
  margin: 89px 0 57px 206px;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  line-height: 100%;
  text-align: left;
}

.time {
  width: 516px;
  height: 147px;
  margin: 56px 67px 23px 310px;
  background: #ffffff;
  border-radius: 25px;
  padding: 22px 65px;
}
.time p {
  width: 100%;
  height: 103px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.time span {
  display: block;
  font-size: 36px;
  line-height: 44px;
  color: #02577a;
}
.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 898px;
  width: 80%;
  height: 121px;
  margin: 49px auto 33px;
  padding: 20px;
  text-align: center;
  border: 2px solid #02577a;
  box-sizing: border-box;
  border-radius: 25px;
}

@media (max-width: 800px) {
  .flex-cont {
    flex-direction: column-reverse;
  }
  .name {
    width: 285px;
    margin: 0 150px 13px 141px;
  }
  .time {
    width: 72%;
    margin: 44px 32px 33px 125px;
    padding: 40px;
  }
  .hint {
    width: 72%;
    margin-left: 125px;
    flex: 100%;
  }
  .footer {
    text-align: center;
    max-width: 60%;
    margin-left: 155px;
    padding: 0 3;
  }
}
