.img {
  height: 432px;
  width: calc(100% - 97px);
  margin-top: 23px;
  margin-left: 97px;
  background: linear-gradient(
      0deg,
      rgba(237, 236, 243, 0.4),
      rgba(237, 236, 243, 0.4)
    ),
    url(../assets/workplace-results-professional-report-accounting-during\ 1.png)
      no-repeat center/cover;
}

.flex-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.name {
  width: 25%;
  margin: 60px 0 20px 100px;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

.time {
  width: 40%;
  margin-top: 40px;
  background: #ffffff;
  border-radius: 25px;
  padding: 22px 65px 22px 65px;
}
.time p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.time span {
  display: block;
  font-size: 36px;
  line-height: 44px;
  color: #02577a;
}
.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58%;
  margin: 3% 3% 3% 22%;
  padding: 40px 20px;
  text-align: center;
  border: 2px solid #02577a;
  box-sizing: border-box;
  border-radius: 25px;
}
